/*
main : #FB8F00 ECFAFB 81CBC8 4AA6B5
*/
/* Styles pour le footer */
body {
position: relative;
  min-height: 100vh;
  padding-bottom: 300px;
  background-color: #ccf2f5;
}

header img {
    transition: transform 1s, filter 1s;
}

header a{
    font-family: 'League Spartan', sans-serif;
    font-size: xx-large;
    color: #faa710 !important;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header img:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    transform: scale(1.15);
}

#destinationSearch {
    border-radius: 20px 0px 0px 20px;
}

#imgIndex {
    background-image: url('../images/accueil.jpg');
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: rgb(51, 94, 138) !important;
    background: linear-gradient(180deg, rgb(51, 94, 138) 0%, rgb(20, 55, 90) 40%, rgb(2, 26, 51) 74%);
}

/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

footer nav {
    background-color: #335F8A !important;
}

#copyrightBelow{
    font-size: 10px;
}

.container-icone {
    text-align: center;
    margin-top: 60px; /* Espacement entre le texte de droits d'auteur et les icônes */
}

.container-icone i {
    font-size: 24px; /* Taille des icônes */
    margin: 0 10px; /* Espacement horizontal entre les icônes */
    bottom: 20px;
}

footer p {
    margin-bottom: 5px; /* Espacement par rapport au bas du footer */
}

.container-icone p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px; /* Espacement entre le texte et les icônes */
}

.container-paiement {
    text-align: center;
    margin-top: 60px; /* Espacement entre le texte de droits d'auteur et les icônes */
}

.container-paiement i {
    font-size: 24px; /* Taille des icônes */
    margin: 0 10px; /* Espacement horizontal entre les icônes */
    bottom: 20px;
}

.container-paiement p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px; /* Espacement entre le texte et les icônes */
}
/*footer fin*/

#listDestinations .card {
    height: 250px;
    background-size: 100% 100% !important;
    background-position: center;
    font-weight: 800;
    color: #106da7;
    position: relative;
    border-radius: 15px;
    border: none !important;
    transition: background-size 0.3s linear !important;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-top: 20px;
  }

  #listDestinations .card:hover, #listDestinations .card:active {
    background-size: 120% 120% !important;
  }
  #listDestinations .card-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  #listDestinations .card-category {
    position: absolute;
    top: 50%;
    font-size: 20px;
    background-color: #ffffff !important;
    border-radius: 0px 10px 10px 0px;
  }
  #listDestinations .card-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #ecd8b2 !important;
    width: 100%;
  }
  #listDestinations .card p {
    font-size: 22px;
  }
  #listDestinations .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: rgb(255, 255, 255);
    opacity: 0;
  }
  #listDestinations .card-link:hover, .card-link:active{
    opacity: 0.1;
  }

  #listDestinations .knowMore {
    color: #faa710;
  }

.modal-content label, .modal-content .form-group h4, .modal-content .form-group button{
    color: #faa710;
}

#align-form{
    margin-top: 20px;
}
.modal-content .form-group p a{
    color: white;
}

.modal-content .form-group input, .form-group textarea{
    background-color: #ccf2f5;
    border: 1px solid #051a30;
    border-radius: 12px;
}

.modal-content form{
    border: 1px solid #030e1a;
    background-color: #335F8A;
    border-radius: 5px;
    padding: 20px;
 }
 .modal-content #post{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}
#destinationMainImg{
    object-fit: cover;
    width: 100%;
    object-position: 50% 80%;
}

#comments {
    color: #335F8A;
    width: 400px;
	background-color: #ecd8b2;
	border-radius: 0px 4px 4px 4px ;
	box-shadow: 10px 10px 5px #aaaaaa;
}

#authorComments {
    border-radius: 4px 4px 0px 0px ;
    box-shadow: 10px 0px 5px #aaaaaa;
    background-color: #0f2a46 !important;
    border-bottom: 3px black solid;
}

#listComments {
    height: 250px !important;
    overflow: scroll;
    font-weight: 600;
}

#titleComments {
    background-color: #0f2a46 !important;
    margin-bottom: 0;
    box-shadow: 0px 10px 5px #aaaaaa;
}
#sectionComments {
    background-color: #ffffff;
}
.checked {
    color: orange;
  }