/*
main : #FB8F00 ECFAFB 81CBC8 4AA6B5
*/
/* Styles pour le footer */
body {
position: relative;
  min-height: 100vh;
  padding-bottom: 300px;
  background-color: #ccf2f5;
}

header img {
    transition: transform 1s, filter 1s;
}

header a{
    font-family: 'League Spartan', sans-serif;
    font-size: xx-large;
    color: #faa710 !important;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header img:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    transform: scale(1.15);
}

#destinationSearch {
    border-radius: 20px 0px 0px 20px;
}

#imgIndex {
    background-image: url('../images/accueil.jpg');
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: rgb(51, 94, 138) !important;
    background: linear-gradient(180deg, rgb(51, 94, 138) 0%, rgb(20, 55, 90) 40%, rgb(2, 26, 51) 74%);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

footer nav {
    background-color: #335F8A !important;
}

.container-icone {
    text-align: center;
    margin-top: 30px; /* Espacement entre le texte de droits d'auteur et les icônes */
}

.container-icone i {
    font-size: 24px; /* Taille des icônes */
    margin: 0 10px; /* Espacement horizontal entre les icônes */
    bottom: 20px;
}

/* Styles pour le texte de droits d'auteur au bas du footer */
footer p {
    /* position: absolute; */
    bottom: 1px; /* Espacement par rapport au bas du footer */
    width: 100%;
}

.container-icone p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px; /* Espacement entre le texte et les icônes */
}

.container-paiement p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px; /* Espacement entre le texte et les icônes */
}


  .card {
    height: 250px;
    background-size: 100% 100% !important;
    background-position: center;
    font-weight: 800;
    color: #106da7;
    position: relative;
    border-radius: 5px;
    border: none !important;
    transition: background-size 0.3s linear !important;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
    margin-top: 20px;
  }

  .card:hover {
    background-size: 120% 120% !important;
  }
  .card-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .card-category {
    position: absolute;
    top: 50%;
    font-size: 20px;
    background-color: #ffffff !important;
  }
  .card-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #ffeee3 !important;
    width: 100%;
  }
  .card p {
    font-size: 22px;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
  }

